includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 5
    paths:
        - src
        - tests
        - ../../../app/Events
    excludePaths:
        - src/legacy
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
